body{
        font-size: 1.5em;
        line-height: 1.6;
        font-weight: 400;
        font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #222;
        margin: 0px;
        /* background: black; */
    }
    .wrap{
        margin: 80px 0px 0px 0px;
    }
    .searchfunction{
        text-align: center;
    }
    .Title{
        color: #33c3f0;
        font-size: 30px;
    }
    input{
        height: 45px;
        width: 80%;
        border-radius: 40px;
        border: 1px solid rgb(6, 151, 242);
        padding: 15px 14px;
        box-sizing: border-box;
        outline: 0;
        box-shadow: 1px 1px 15px 2px white;
        display: block;
        margin: 0 auto;
    }
    .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
}
    .btn-3 {
        background: rgb(0,172,238);
        background: linear-gradient(0deg, rgb(248, 85, 191) 0%, rgb(89, 186, 227) 100%);
        width: 130px;
        height: 40px;
        line-height: 42px;
        text-transform: uppercase;
        padding: 0;
        font-size: 13px;
        margin: 30px 0px ;
        border: none;
}
        .btn-3 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        }
        .btn-3:before,
        /* .btn-3:focus, */
        .btn-3:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        background: rgba(2,126,251,1);
        transition: all 0.3s ease;
        }
        .btn-3:before {
        height: 0%;
        width: 2px;
        }
        .btn-3:after {
        width: 0%;
        height: 2px;
        }
        .btn-3:hover{
        background: transparent;
        box-shadow: none;
        }
        .btn-3:hover:before {
        height: 100%;
        }
        .btn-3:hover:after {
        width: 100%;
        }
        .btn-3 span:hover{
        color: rgba(2,126,251,1);
        }
        .btn-3 span:focus{
        color: rgba(2,126,251,1);
        }

        .btn-3 span:before,
        .btn-3 span:focus,
        .btn-3 span:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        background: rgb(2,126,251,1);
        transition: all 0.3s ease;
        }
        .btn-3 span:before {
        width: 2px;
        height: 0%;
        }
        .btn-3 span:after {
        width: 0%;
        height: 2px;
        }
        .btn-3 span:hover:before {
        height: 100%;
        }
        .btn-3 span:hover:after {
        width: 100%;
        }
    .result{
        margin: 5px;
        line-height: 20px;
        margin-top: 20px;
    }
    .article {
        margin-bottom: 20px;
        padding: 20px 20px;
        margin: 8px;
        box-shadow: 1px 1px 10px 1px cornflowerblue;
    }
    .article a{
        text-decoration: none;
        margin-top: 0px;
    }
    .article h2{
        font-size: 22px;
        color: #0187fc;
        text-decoration: none;
        margin: 3px;
        margin-top: 40px;
    }
    .article p{
        margin-top: 0px;
        font-size: 17px;
    }
    .article .snippet{
        color: #0776fe;
        font-size: 20px;
        margin-top: 0px;
    }
    .article .snippet img{
        background-color: white;
    }
    .article h2:hover{
        text-decoration: underline;
        background-color: transparent;
        outline: 0;
    }
    .theme span {
        font-size: 15px;
        color: cornflowerblue;
        display: block;
    }
    .theme button{
        padding: 8px 10px;
        margin: 0 auto;
        margin: 10px 5px;
        border: 1px solid cornflowerblue;
        background: transparent;
        color: rgb(58, 202, 255);
        outline: 0;
        cursor: pointer;
    }
    .theme button:hover{
        opacity: 85%;
    }
    .rp{
        color: rgb(6, 151, 242);
    }
    .error p{
        color: cornflowerblue;
    }
    .error .p1{
        text-align: center;
    }
    
    .error li{
        font-size: 14px;
        color: rgb(71, 129, 238);
    }
    .nav-bar{
        text-align: center;
    }
    .nav-bar a{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        color:rgb(6, 151, 242);
        text-decoration: none;
        margin: 0px 10px;
    }
    .Back{
        display: none;
    }
    .Back button{
        padding: 8px 8px;
    }
    .nav-bar a:hover{
        text-decoration: underline;
    }
    .nav-bar a:focus{
        text-decoration: underline;
    }
    .copyright{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
    }
    .copyright p{
        color: rgb(31, 144, 243);
    }
    .copyright a{
        color: cornflowerblue;
        text-decoration: none;
    }
    .copyright a:hover{
        text-decoration: underline;
    }
    .copyright a:focus{
        text-decoration: underline;
    }
    @media (min-width: 300px) {
        .btn-3{
            margin: 30px 50px;
        }
        .nav-bar a{
        
        margin: 0px 5px;
        }
    }
    @media (min-width: 400px) {
        
        .nav-bar a{
        
        margin: 0px 10px;
        }
    }
    @media (min-width: 500px) {
        .btn-3{
            margin: 30px 100px;
        }
    }
    @media (min-width: 500px) {
        input{
            width: 60%;}
            .btn-3{
                margin: 30px 200px;
            }
        }
    
    @media (min-width: 600px) {
        .btn-3{
        margin: 30px 150px;}
    }
    @media (min-width: 700px) {
        input{
            width: 50%;
        }
        .btn-3{
            margin: 30px 250px;
        }
    }
    @media (min-width: 900px) {
        input{
            width: 50%;
            }
        .btn-3{
            margin: 30px 300px;
        }
        }